image: Visual Studio 2017
branches:
  only:
  - master
init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true
install:
  #restore dependencies
  - cmd: dotnet restore
  
  #install depedencies
  - choco install codecov "msbuild-sonarqube-runner" -y --limitoutput
build: off
test_script:
  # run unit tests with open cover (test coverage)
  - cmd: '%USERPROFILE%\.nuget\packages\opencover\4.6.519\tools\OpenCover.Console.exe -register:user -target:"C:/Program Files/dotnet/dotnet.exe" -targetargs:"test WgWall.Test\WgWall.Test.csproj" -filter:"+[WgWall*]* -[WgWall.Test*]*" -output:".\WgWall_coverage.xml" -oldstyle'
  - codecov -f "WgWall_coverage.xml"
    
  # run unit tests with sonar cube (code smells)
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER) { SonarScanner.MSBuild.exe begin /k:"famoser_wg-wall" /d:sonar.organization="famoser-github" /d:"sonar.host.url=https://sonarqube.com" /d:"sonar.login=d361ddb7b2f8195bd07fd82571f44ac631ecf578" /d:"sonar.analysis.mode=preview" /d:"sonar.pullrequest.key=$env:APPVEYOR_PULL_REQUEST_NUMBER" /d:"sonar.pullrequest.branch=APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH" /d:"sonar.pullrequest.base=APPVEYOR_REPO_BRANCH" /d:="sonar.pullrequest.provider=github" /d:"sonar.pullrequest.github.repository=famoser/wg-wall" /d:"sonar.pullrequest.github.endpoint=https://api.github.com" /d:"sonar.github.oauth=$env:github_auth_token" /d:"sonar.exclusions=WgWall/ClientApp/dist/**" }
  - ps: if (-Not $env:APPVEYOR_PULL_REQUEST_NUMBER) { SonarScanner.MSBuild.exe begin /k:"famoser_wg-wall" /d:sonar.organization="famoser-github" /d:"sonar.host.url=https://sonarqube.com" /d:"sonar.login=d361ddb7b2f8195bd07fd82571f44ac631ecf578" }
  - ps: MSBuild.exe /t:Rebuild /verbosity:minimal
  - ps: SonarScanner.MSBuild.exe end /d:"sonar.login=d361ddb7b2f8195bd07fd82571f44ac631ecf578"

deploy: off