/* layout css*/
.hover-light-bg:hover {
    background-color: lightgrey;
}

.light-bg {
    background-color: lightgrey;
}

.selectable {
    cursor: pointer;
}

.popup {
    position: absolute;
    width: 200%;
    background-color: lightgray;
    right: 0;
}