<div class="container-fluid mt-3">
  <app-top-bar (userSelected)="selectedUser = $event"></app-top-bar>
  <div class='mt-3'>
    <div class="row">
      <div class="col-md-6">
        <app-tasks></app-tasks>
      </div>
      <div class="col-md-3">
        <app-transport></app-transport>
      </div>
      <div class="col-md-3">
        <app-products></app-products>
      </div>

    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <app-events></app-events>
      </div>
      <div class="col-md-6">
        <app-weather></app-weather>
      </div>
    </div>
  </div>
</div>
