<app-top-bar (userSelected)="selectedUser = $event"></app-top-bar>
<div class="dashboard-wrapper p-3">
  <div class="row row-full">
    <div class="col-sm pr-2">
      <div class="row-sm">
        <app-tasks></app-tasks>
      </div>
      <div class="row-lg pt-3">
        <app-weather></app-weather>
      </div>
    </div>
    <div class="col col-lg pl-2">
      <div class="row row-full">
        <div class="col col-lg pr-2">
          <app-transport class="row-sm"></app-transport>
          <div class="row-lg">
            <app-events class="row-md pt-3"></app-events>
            <app-transport class="row-md pt-3"></app-transport>
          </div>
        </div>
        <div class="col col-sm pl-2">
          <app-products></app-products>
        </div>
      </div>
    </div>
  </div>
</div>
