<app-top-bar (userSelected)="selectedUser = $event"></app-top-bar>
<div class="dashboard-wrapper p-3">
  <div class="row height-full">
    <div class="col-lg-6">
      <app-tasks class="height-low bottom-padding"></app-tasks>
      <app-weather class="height-high"></app-weather>
    </div>
    <div class="col-lg">
      <app-transport class="height-low bottom-padding"></app-transport>
      <div class="height-high">
        <app-events class="height-high bottom-padding"></app-events>
        <app-dinner class="height-low"></app-dinner>
      </div>
    </div>
    <div class="col-lg">
      <app-products></app-products>
    </div>
  </div>
</div>