<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h3>
          tasks
        </h3>
      </div>
      <div class="col-md-auto">
        <button class="btn btn-link text-secondary btn-lg" [class.d-none]="actionsActive || (editContainer != null && editSource == null)"
          (click)="startAdd()">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>
    <p class="small text-secondary help">
      execute regularely and with joy!
    </p>

    <table *ngIf="taskTemplates.length > 0 || (editContainer != null && editSource == null); else placeholder" class="table table-borderless table-sm table-striped">
      <tbody>
        <tr *ngIf="editContainer != null && editSource == null">
          <td colspan="2">
            <div class="form-inline">
              <div class="form-group flex-grow-1">
                <label>name</label>
                <input type="text" [(ngModel)]="editContainer.name" class="form-control form-control-sm ml-2 flex-grow-1">
              </div>
              <div class="form-group ml-4">
                <label>reward</label>
                <input type="number" [(ngModel)]="editContainer.reward" class="form-control form-control-sm ml-2 single-number">
              </div>
              <div class="form-group ml-4">
                <label>interval in days</label>
                <input type="number" [(ngModel)]="editContainer.intervalInDays" class="form-control form-control-sm ml-2 single-number">
              </div>
            </div>
          </td>
          <td class="minimal-width">
            <div class="btn-group btn-group-sm">
              <button class="btn btn-link text-success" type="button" (click)="add(editContainer)">
                <fa-icon [icon]="faSave"></fa-icon>
              </button>
              <button class="btn btn-link text-warning" type="button" (click)="abort()">
                <fa-icon [icon]="faUndo"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngFor="let taskTemplate of taskTemplates; first as isFirst; trackBy trackByFn" [class.border-top]="!isFirst || editContainer != null && editSource == null">
          <ng-container *ngIf="taskTemplate == editSource">
            <td colspan="2">
              <div class="form-inline">
                <div class="form-group flex-grow-1">
                  <label>name</label>
                  <input type="text" [(ngModel)]="editContainer.name" class="form-control form-control-sm ml-2 flex-grow-1">
                </div>
                <div class="form-group ml-4">
                  <label>reward</label>
                  <input type="number" [(ngModel)]="editContainer.reward" class="form-control form-control-sm ml-2 single-number">
                </div>
                <div class="form-group ml-4">
                  <label>interval in days</label>
                  <input type="number" [(ngModel)]="editContainer.intervalInDays" class="form-control form-control-sm ml-2 single-number">
                </div>
              </div>
            </td>
            <td class="minimal-width">
              <div class="btn-group btn-group-sm">
                <button class="btn btn-link text-success" type="button" (click)="save(editContainer, taskTemplate)">
                  <fa-icon [icon]="faSave"></fa-icon>
                </button>
                <button class="btn btn-link text-warning" type="button" (click)="abort()">
                  <fa-icon [icon]="faUndo"></fa-icon>
                </button>
                <button class="btn btn-link text-danger" type="button" (click)="remove(taskTemplate)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <ng-container *ngIf="taskTemplate != editSource">
            <td class="align-midle">{{taskTemplate.name}}</td>
            <td class="minimal-width align-midle relative">
                <div class="progress progress-relative-completion" *ngIf="taskTemplate.expectedRelativeCompletion > 0">
                  <div class="progress-bar" [ngStyle]="{width : ( taskTemplate.expectedRelativeCompletion * 100 + '%' ) }"></div>
                </div>
              {{ taskTemplate.lastExecutionAt ? "last execution was " + (taskTemplate.lastExecutionAt | humanizeDate) :
              "not yet executed"}}
            </td>
            <td class="minimal-width">
              <div class="btn-group btn-group-sm">
                <button class="btn btn-link text-secondary" type="button" (click)="startEdit(taskTemplate)">
                  <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
                <button *ngIf="editSource == null" class="btn btn-link text-success" type="button" (click)="confirmExecution(taskTemplate)">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </button>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <ng-template #placeholder>
      <p>no entries yet</p>
    </ng-template>

  </div>
</div>
