<div class="card">
  <div class="card-body">
    <h3>tasks
      <a *ngIf="!isEditActive" href="#" class="pl-2" (click)="startEdit()">
        <fa-icon [icon]="faPencilAlt"></fa-icon>
      </a>
      <a *ngIf="isEditActive" href="#" class="pl-2" (click)="abortEdit()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </a>
    </h3>

    <ng-template *ngIf="!isEditActive; else edit">
      <p class="small text-secondary help">
        green marks as completed
      </p>

      <ng-template *ngIf="activeTaskTemplates$ | async as activeTaskTemplates; else placeholder2">
        <table class="table table-sm table-borderless table-striped">
          <tbody>
            <tr *ngFor="let taskTemplate of activeTaskTemplates; first as isFirst; trackBy taskTemplate.id"
              [class.border-top]="!isFirst">
              <td>{{taskTemplate.name}}</td>
              <td>{{taskTemplate.lastExecutionAt | date}}</td>
              <td class="minimal-width">
                <button class="btn btn-sm btn-success" type="button" (click)="registerExecution(taskTemplate)">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      <ng-template #placeholder2>
        <p>
          no tasks yet
        </p>
      </ng-template>
    </ng-template>
    <ng-template #edit>
      <p class="small text-secondary help">
        edit the task templates
      </p>

      <div class="row pb-2">
        <div class="col">
          <input type="text" [(ngModel)]="editTaskTemplate.name" class="form-control form-control-sm" placeholder="add new product name"
            (keyup.enter)="saveEditTaskTemplate()">
        </div>
        <div class="col-md-auto">
          <button class="btn btn-primary btn-sm mr-2 row" type="button" (click)="saveEditTaskTemplate()">
            <fa-icon *ngIf="!this.editTaskTemplate.id" [icon]="faPlus"></fa-icon>
            <fa-icon *ngIf="this.editTaskTemplate.id" [icon]="faSave"></fa-icon>
          </button>
        </div>
      </div>

      <table *ngIf="activeTaskTemplates$ | async; else placeholder" class="table table-sm table-borderless table-striped">
        <tbody>
          <tr *ngFor="let taskTemplate of activeTaskTemplates$ | async; first as isFirst; trackBy taskTemplate.id"
            [class.border-top]="!isFirst">
            <td (click)="startEditTaskTemplate(taskTemplate)">{{taskTemplate.name}}</td>
            <td (click)="startEditTaskTemplate(taskTemplate)">{{taskTemplate.lastExecutionAt | date}}</td>
            <td class="minimal-width">
              <div class="btn-group btn-group-sm">
                <ng-template *ngIf="taskTemplate.hide; else unhide">
                  <button class="btn btn-sm btn-danger" type="button" (click)="hideTaskTemplate(taskTemplate)">
                    <fa-icon [icon]="faEyeSlash"></fa-icon>
                  </button>
                  <button class="btn btn-sm btn-success" #unhide type="button" (click)="unHideTaskTemplate(taskTemplate)">
                    <fa-icon [icon]="faEye"></fa-icon>
                  </button>
                </ng-template>
                <button class="btn btn-sm btn-warning" type="button" (click)="startEditTaskTemplate(taskTemplate)">
                  <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p #placeholder>
        no tasks yet
      </p>
    </ng-template>
  </div>
</div>
