<div class="card">
    <div class="card-body">
        <h3>task</h3>

        <p class="small text-secondary help">
            red removes, green marks as completed
        </p>

        <table *ngIf="activeTasks.length > 0" class="table table-sm table-borderless table-striped">
            <tbody>
                <tr *ngFor="let task of activeTasks; first as isFirst" [class.border-top]="!isFirst">
                    <td>{{task.taskTemplate.name}}</td>
                    <td>{{task.taskTemplate.lastActivationAt | date}}</td>
                    <td class="minimal-width">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-sm btn-danger" type="button" (click)="deleteTask(task)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                            <button class="btn btn-sm btn-success" type="button" (click)="markTaskAsDone(task)">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="activeTasks.length == 0" class="font-italic">
            no active tasks, congratulations :)
        </p>

        <h3>task templates
            <a *ngIf="!isEditActive" href="#" class="pl-2" (click)="startEdit()">
                <fa-icon [icon]="faPencilAlt"></fa-icon>
            </a>
            <a *ngIf="isEditActive" href="#" class="pl-2" (click)="abortEdit()">
                <fa-icon [icon]="faTimes"></fa-icon>
            </a>
        </h3>

        <p class="small text-secondary help">
            click to create a new task
        </p>
        <div *ngIf="isEditActive" class="row pb-2">
            <div class="col">
                <input type="text" [(ngModel)]="editTaskTemplate.name" class="form-control form-control-sm"
                    placeholder="add new product name" (keyup.enter)="saveEditTaskTemplate()">
            </div>
            <div class="col-md-auto">
                <button class="btn btn-primary btn-sm mr-2 row" type="button" (click)="saveEditTaskTemplate()">
                    <fa-icon *ngIf="!this.editTaskTemplate.id" [icon]="faPlus"></fa-icon>
                    <fa-icon *ngIf="this.editTaskTemplate.id" [icon]="faSave"></fa-icon>
                </button>
            </div>
        </div>
        <table *ngIf="activeTaskTemplates.length > 0" class="table table-sm table-borderless table-striped">
            <tbody>
                <tr *ngFor="let taskTemplate of activeTaskTemplates; first as isFirst" [class.border-top]="!isFirst">
                    <td (click)="addTask(taskTemplate)">{{taskTemplate.name}}</td>
                    <td *ngIf="isEditActive" class="minimal-width">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-sm btn-warning" type="button" (click)="startEditTaskTemplate(taskTemplate)">
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </button>
                            <button class="btn btn-sm btn-danger" type="button" (click)="hideTaskTemplate(taskTemplate)">
                                <fa-icon [icon]="faEyeSlash"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="activeTaskTemplates.length == 0 && !isEditActive" class="font-italic">
            create a task template to get started
        </p>
    </div>
</div>