/* You can add global styles to this file, and also import other style files */
.selectable {
    cursor: pointer;
}

h3 {
  font-weight: 300;
  text-transform: lowercase;
  font-size: 2.5rem;
}

.help {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}

.minimal-width {
    width: 1%;
    white-space: nowrap;
    text-align: right;
}

.table td {
  vertical-align: middle;
}

.btn-group-sm>.btn {
  min-width: 2rem;
}

html, body {
  height: 100%;
}

.card {
  border-radius: 0;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  height: 100%;
}
