/* You can add global styles to this file, and also import other style files */
.selectable {
    cursor: pointer;
}

h3 {
  font-weight: 300;
  text-transform: lowercase;
  font-size: 2.5rem;
}

.minimal-width {
    width: 1%;
    white-space: nowrap;
    text-align: right;
}

.table td {
  vertical-align: middle;
}

.btn-group-sm>.btn {
  min-width: 2rem;
}

html, body {
  height: 100%;
}

.chart-legend {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 1rem;
}

.chart-legend > li {
  float: left;
}

.chart-legend .chart-legend-preview {
  height: 1rem;
  width: 3rem;
  margin-left: 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: -0.1rem;
}

.chart-legend .chart-legend-preview:first {
  margin-left: 0;
}

@media only screen and (min-width: 992px) {
  .card {
    height: 100%;
    overflow-y: auto;
  }

  .help {
      margin-bottom: 0.2rem;
      margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .card {
    margin-bottom: 1rem;
  }

  .help {
      margin-bottom: 0.2rem;
      margin-top: 0;
  }
}

.card {
  border-radius: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}