/* You can add global styles to this file, and also import other style files */
.selectable {
    cursor: pointer;
}

h3 {
  font-weight: 300;
  text-transform: lowercase;
  font-size: 2.5rem;
}

.help {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}

.minimal-width {
    width: 1%;
    white-space: nowrap;
    text-align: right;
}

html, body {
    background-color: #212529;
}

.table td {
  vertical-align: middle;
}
