<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          hi nmom
        </li>
        <div class="form-inline">

          <a class="btn btn-sm btn-outline-secondary" type="button">2</a>

        </div>

      </ul>

      <ul class="navbar-nav ml-auto">
        <button class="btn">hi2</button>
      </ul>
    </div>
  </div>
</nav>
