.nav-user .active {
  cursor: default;
  color: #212529;
  text-decoration: underline;
}

.nav-user .active:hover {
  cursor: default;
  color: #212529;
}

.nav-link {
  padding: 0.8rem 1rem;
}

.nav-link .btn-group-sm > .btn {
  line-height: 0;
  padding: 0;
}

.form-inline {
  height: 1.4rem;
}
