<div class="card">
    <div class="card-body">
        <h3>shopping list</h3>

        <p class="small text-secondary help">
            click increments, red decrements, green confirms the purchase
        </p>

        <table *ngIf="active.length > 0" class="table table-sm table-borderless table-striped">
            <tbody>
                <tr *ngFor="let product of active; first as isFirst" [class.border-top]="!isFirst">
                    <td (click)="increment(product)">{{product.name}}</td>
                    <td class="minimal-width" (click)="increment(product)">
                        {{product.amount}}
                    </td>
                    <td class="minimal-width">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-sm btn-danger" type="button" (click)="decrement(product)">
                                <fa-icon [icon]="faMinus"></fa-icon>
                            </button>
                            <button class="btn btn-sm btn-success" type="button" (click)="confirmBuy(product)">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="active.length == 0" class="font-italic">
            no products in your shopping list
        </p>

        <h3>product inventory
            <a *ngIf="!isEditActive" href="#" class="pl-2" (click)="enableEdit()">
                <fa-icon [icon]="faPencilAlt"></fa-icon>
            </a>
            <a *ngIf="isEditActive" href="#" class="pl-2" (click)="abortEdit()">
                <fa-icon [icon]="faTimes"></fa-icon>
            </a>
        </h3>

        <p class="small text-secondary help">
            click on a product to add it to the shopping list
        </p>
        <div *ngIf="isEditActive" class="row pb-2">
            <div class="col">
                <input type="text" [(ngModel)]="newProductName" class="form-control form-control-sm" id="productName"
                    placeholder="add new product name" (keyup.enter)="add()">
            </div>
            <div class="col-md-auto">
                <button class="btn btn-primary btn-sm mr-2 row" type="button" (click)="add()">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </button>
            </div>
        </div>
        <table *ngIf="register.length > 0" class="table table-sm table-borderless table-striped">
            <tbody>
                <tr *ngFor="let product of register; first as isFirst" [class.border-top]="!isFirst">
                    <td (click)="select(product)">{{product}}</td>
                    <td *ngIf="isEditActive" class="minimal-width">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-sm btn-danger" type="button" (click)="hide(product)">
                                <fa-icon [icon]="faTimes"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="active.length == 0 && !isEditActive" class="font-italic">
            no products in your register
        </p>
    </div>
</div>